{% extends "base.html" %} {% block title %}chat-py{% endblock %} {% block
content %}
<main>
  <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
    <div class="bg-white rounded-lg shadow-sm">
      <div class="p-6">
        <div class="flex items-center justify-between mb-4">
          <h1 class="text-xl font-semibold text-gray-900">Chat Room</h1>
          <div class="flex items-center space-x-4">
            <span class="bg-gray-900 px-3 py-1 rounded-full text-sm text-white">
              {{ active_users }} online
            </span>
            {% if user %}
            <span class="text-gray-700">Welcome, {{ user.username }}!</span>
            {% endif %}
          </div>
        </div>

        <div
          id="messages"
          class="h-[500px] overflow-y-auto mb-4 p-4 space-y-2 bg-gray-50 rounded-lg"
        ></div>
        <div class="flex space-x-4">
          <input
            type="text"
            id="messageText"
            class="flex-1 rounded-md border-0 py-2.5 px-3.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600"
            placeholder="Type your message..."
          />
          <button
            id="sendButton"
            class="rounded-md bg-blue-600 px-5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
          >
            Send
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %} {% block scripts %}
<script
  type="module"
  src="{{ url_for('static', path='/js/auth.js') }}?v={{ range(1, 1000) | random }}"
></script>
<script
  type="module"
  src="{{ url_for('static', path='/js/nav.js') }}?v={{ range(1, 1000) | random }}"
></script>
<script src="{{ url_for('static', path='/js/chat.js') }}"></script>
{% endblock %}
